.chatBox {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  --main--color: #4b8efe;
  --main--color2: #2752ff;
  --main--color3: #efefef;
}
.cs-message--incoming.cs-message .cs-message__content {
  border-radius: 1.2em;
}
.cs-message .cs-message__content,
.cs-message.cs-message--outgoing .cs-message__content {
  border-radius: 1.2em;
  background-color: var(--main--color);
  color: white;
}
.cs-message .cs-message__content {
  border-radius: 1.2em;
  background-color: var(--main--color3);
  color: black;
}
.cs-message-list__typing-indicator-container .cs-typing-indicator__text {
  color: var(--main--color2);
}
.cs-typing-indicator__indicator > div {
  background-color: var(--main--color2);
}
.chatBox .cs-main-container {
  border-right-width: 0;
  border-left-width: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.header > div:first-child {
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 1em;
  line-height: 1em;
  flex: 1;
  overflow: hidden;
}
.header > div:first-child div {
  flex: 1;
  line-height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}
.header > div:first-child img {
  height: 30px;
  margin-right: 10px;
}
.header img {
  height: 24px;
}

.header > div:last-child {
  height: 24px;
}
.inputForm {
  padding: 14px;
}
.inputBox {
  display: flex;
  border-radius: 100px;
  align-items: center;
  background-color: #ececec;
  height: 48px;
  padding: 8px;
  box-sizing: border-box;
}
.inputBox input {
  height: 100%;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  outline: 0;
  flex: 1;
  background-color: transparent;
  min-width: 0px;
  font-size: 16px;
}
input#button[type="submit"],
.inputBox input[type="submit"] {
  background: linear-gradient(var(--main--color2), var(--main--color));
  border-radius: 100px;
  color: #fff;
  line-height: 0.95em;
  padding: 11px 1.1em;
  cursor: pointer;
  font-size: 14px;
}
.inputBox input[type="submit"]:active {
  background: linear-gradient(var(--main--color2), var(--main--color));
  opacity: 0.8;
}
.inputBox .leftIcon {
  background: linear-gradient(var(--main--color2), var(--main--color));
  border-radius: 100px;
  height: 34px;
  width: 34px;
  min-width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 8px;
}
.inputBox .leftIcon img {
  width: 100%;
}
.inputBox .rightIcon {
  line-height: 0;
  display: flex;
  gap: 12px;
  align-items: center;
}
.inputBox .rightIcon img {
  height: 24px;
  line-height: 0;
}

body {
  font-size: 16px;
  background-image: url(./bg.jpg);
  background-size: cover;
  height: 100vh;
}
.headerBox,
.inputForm {
  background-color: rgba(255, 255, 255, 1);
}
.chatBox {
  background: rgba(255, 255, 255, 0.8);
  border: solid 1px #d1dbe3;
  border-radius: 25px;
  overflow: hidden;
  height: 95vh;
  width: 95vw;
}
.cs-main-container,
.cs-chat-container,
.cs-message-list,
.cs-typing-indicator {
  background: transparent !important;
}

@media screen and (min-width: 1000px) {
  .headerBox,
  .inputForm {
    background-color: rgba(255, 255, 255, 1);
  }
  .chatBox {
    background: rgba(255, 255, 255, 0.8);
    border: solid 1px #d1dbe3;
    /* max-width: 1000px; */
    width: 90vw;
    height: 80vh;
  }
  body {
    background-image: url(./bg.jpg);
    background-size: cover;
    height: 100vh;
  }
  .cs-main-container,
  .cs-chat-container,
  .cs-message-list,
  .cs-typing-indicator {
    background: transparent !important;
  }
}

@media screen and (min-width: 1300px) {
  .chatBox {
    max-width: 1000px;
  }
}

.message-choice {
}
.message-choice span {
  display: none;
}
.message-choice p:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}
.message-choice p {
  display: inline-block;
  border: 1px solid var(--main--color);
  border-radius: 50px;
  padding: 6px 1em;
  margin: 5px 0;
  font-size: 0.91em;
}

